@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #5e2020;
    --cor-secundaria: #490000;
    --cor-destaque: #fc2b2b;
    --cor-background: mistyrose;
    --cor-hover: darksalmon;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background-color: var(--cor-background);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

h2 {
    margin-right: 10px;
}

button {
    margin: 0 2px;
    border: none;
}

.side-button {
    display: flex;
    align-items: center;
}

.btn-link {
    background-color: white;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover {
    color: var(--cor-destaque);
}

.local-link:hover {
    color: var(--cor-hover);
}

.local-link {
    background-color: var(--cor-secundaria);
}

.local-wine {
    color: var(--cor-secundaria);
}

.local-red {
    border-color: var(--cor-destaque);
}

.card {
    margin-bottom: 1em;
}

.modal-content {
    background-color: white;
}

.modal-body {
    padding: 0 12px 6px 12px;
}

.modal-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding: 6px 12px 12px 12px;
}

::selection {
    background-color: var(--cor-principal);
    color: var(--cor-background);
}
